<mat-card fxFlex>
  <mat-card-header [ngClass]="{'small-ship-header': (isExtraSmall | async).matches }">
    <flagship-ship-icon [ship]="ship" mat-card-avatar *ngIf="!(isExtraSmall | async).matches"></flagship-ship-icon>
    <mat-card-title fxLayout="row">
      <span>
        <span style="margin-right:4px">{{ ship.name }}</span>
        <mat-icon *ngIf="ship.isFlagship()" class="flagship-icon">flag</mat-icon>
      </span>
      <span fxFlex></span>
      <span class="points">
        {{ ship.currentPoints() }}&nbsp;
        <span *ngIf="ship.currentPointsFromUpgrades() > 0" class="point-math">
          ({{ ship.points }} + {{ ship.currentPointsFromUpgrades() }})
        </span>
      </span>


    </mat-card-title>
    <mat-card-subtitle>
      Hull: {{ ship.hull }}
      | Command: {{ ship.command }}
      | Squadron: {{ ship.squadron }}
      | Engineering: {{ ship.engineering }}

    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="16px">
      <div>
        <strong>Shields&nbsp;</strong>
        <span>F: {{ ship.frontShields }}&nbsp;</span>
        <span>L/R: {{ ship.leftShields }}&nbsp;</span>
        <span *ngIf="hugeShip && hugeShip.leftAuxShields">LA/RA: {{ hugeShip.leftAuxShields }}&nbsp;</span>
        <span>R: {{ ship.rearShields }}&nbsp;</span>
      </div>
      <div fxFlex ngStyle.gt-sm="text-align: right;">
        <strong>Navigation&nbsp;</strong>
        <span *ngFor="let speed of ship.navigationChart.getSpeeds(); index as i">
          {{ i + 1 }}:
          <i class="ffi speedbox" *ngFor="let box of speed"
            [ngClass]="{'ffi-swa-turn-0': box === 0, 'ffi-swa-turn-1': box === 1, 'ffi-swa-turn-2': box === 2}"></i>
        </span>
      </div>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px" style="margin-top:8px;">
      <div *ngIf="ignitionShip && ignitionShip.ignitionArmament">
        SW: <flagship-battery [armament]="ignitionShip.ignitionArmament"></flagship-battery>
      </div>
      <div>F: <flagship-battery [armament]="ship.frontArmament"></flagship-battery>
      </div>
      <div>L/R: <flagship-battery [armament]="ship.leftArmament"></flagship-battery>
      </div>
      <div *ngIf="hugeShip && hugeShip.leftAuxArmament">
        LA/RA: <flagship-battery [armament]="hugeShip.leftAuxArmament">
        </flagship-battery>
      </div>
      <div>R: <flagship-battery [armament]="ship.rearArmament"></flagship-battery>
      </div>
      <div>AS: <flagship-battery [armament]="ship.antiSquadronArmament"></flagship-battery>
      </div>
      <span *ngIf="ship.defenseTokens.length" ngStyle.gt-sm="text-align: right;" fxFlex>
        Defense Tokens:
        <flagship-defense-token *ngFor="let token of ship.defenseTokens" [type]="token" [size]="18"
          class="defense-token"></flagship-defense-token>
      </span>
    </div>
    <div>
      <flagship-upgrade-summary *ngFor="let upgrade of ship.sortedUpgrades(); let isLast=last;" [upgrade]="upgrade"
        [isLast]="isLast"></flagship-upgrade-summary>
    </div>
    <mat-chip-list *ngIf="isCampaign">
      <mat-chip *ngIf="ship.isScarred" color="warn" selected (removed)="unscar()">
        Scarred <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <mat-chip *ngIf="ship.isVeteran" color="accent" selected (removed)="demote()">
        Veteran <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions *ngIf="ship.fleet.canEdit" fxLayout="column">
    <div fxLayout="row">
      <button mat-button *ngIf="isCampaign" color="warn" [disabled]="ship.isScarred" (click)="scar()">
        Mark Scarred
      </button>
      <span fxFlex></span>
      <button mat-button *ngIf="isCampaign" color="accent" [disabled]="ship.isVeteran" (click)="promote()">
        Mark Veteran
      </button>
    </div>
    <div fxLayout="row" *ngIf="!(isExtraSmall | async).matches">
      <button mat-button [routerLink]="['ships', ship.uid]">
        Edit
      </button>
      <button mat-button (click)="duplicateShip()">
        Duplicate
      </button>
      <button mat-button color="accent" [routerLink]="['ships', ship.uid, 'statistics']">
        View Stats
      </button>
      <span fxFlex></span>
      <button mat-button (click)="deleteShip()" color="warn">
        Delete
      </button>
    </div>
    <div fxLayout="row" *ngIf="(isExtraSmall | async).matches">
      <button mat-icon-button [routerLink]="['ships', ship.uid]">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="duplicateShip()">
        <mat-icon>file_copy</mat-icon>
      </button>
      <button mat-icon-button color="accent" [routerLink]="['ships', ship.uid, 'statistics']">
        <mat-icon>insert_chart_outlined</mat-icon>
      </button>
      <span fxFlex></span>
      <button mat-icon-button (click)="deleteShip()" color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
