<mat-card fxFlex>
  <mat-card-header>
    <!-- <div mat-card-avatar>
      <i class="ffi ffi-imperial" [ngClass]="{ 'flagship': ship.isFlagship() }"></i>
    </div> -->
    <flagship-ship-icon [ship]="ship" mat-card-avatar></flagship-ship-icon>
    <!-- <img mat-card-avatar src="https://vignette.wikia.nocookie.net/starwars-armada/images/2/2e/ISDTitle-icon.png/revision/latest?cb=20171107173206&format=original" /> -->
    <mat-card-title>
      <span style="margin-right:4px">{{ ship.name }}</span>
      <mat-icon *ngIf="ship.isFlagship()" class="flagship-icon">flag</mat-icon>
      <span fxFlex></span>
      {{ ship.points }}&nbsp;
      <span *ngIf="ship.currentPointsFromUpgrades() >= 0">
        (+{{ ship.currentPointsFromUpgrades() }})
      </span>

    </mat-card-title>
    <mat-card-subtitle>
      Hull: {{ ship.hull }}
      | Command: {{ ship.command }}
      | Engineering: {{ ship.engineering }}
      | Squadron {{ ship.squadron }}

    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="16px">
      <div>
        <strong>Shields&nbsp;</strong>
        <span>F: {{ ship.frontShields }}&nbsp;</span>
        <span>L/R: {{ ship.leftShields }}&nbsp;</span>
        <span *ngIf="hugeShip && hugeShip.leftAuxShields">LA/RA: {{ hugeShip.leftAuxShields }}&nbsp;</span>
        <span>R: {{ ship.rearShields }}&nbsp;</span>
      </div>
      <div fxFlex ngStyle.gt-sm="text-align: right;">
        <strong>Navigation&nbsp;</strong>
        <span *ngFor="let speed of ship.navigationChart.getSpeeds(); index as i">
          {{ i + 1 }}:
          <i class="ffi speedbox" *ngFor="let box of speed"
            [ngClass]="{'ffi-swa-turn-0': box === 0, 'ffi-swa-turn-1': box === 1, 'ffi-swa-turn-2': box === 2}"></i>
        </span>
      </div>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px" style="margin-top:8px;">
      <div *ngIf="ignitionShip && ignitionShip.ignitionArmament">
        SW: <flagship-battery [armament]="ignitionShip.ignitionArmament"></flagship-battery>
      </div>
      <div>F: <flagship-battery [armament]="ship.frontArmament"></flagship-battery>
      </div>
      <div>L/R: <flagship-battery [armament]="ship.leftArmament"></flagship-battery>
      </div>
      <div *ngIf="hugeShip && hugeShip.leftAuxArmament">
        LA/RA: <flagship-battery [armament]="hugeShip.leftAuxArmament">
        </flagship-battery>
      </div>
      <div>R: <flagship-battery [armament]="ship.rearArmament"></flagship-battery>
      </div>
      <div>AS: <flagship-battery [armament]="ship.antiSquadronArmament"></flagship-battery>
      </div>
      <span *ngIf="ship.defenseTokens.length" ngStyle.gt-sm="text-align: right;" fxFlex>
        Defense Tokens:
        <flagship-defense-token *ngFor="let token of ship.defenseTokens" [type]="token" [size]="18"
          class="defense-token"></flagship-defense-token>
      </span>
    </div>
    <div>
      <flagship-upgrade-summary *ngFor="let upgrade of ship.sortedUpgrades(); let isLast=last;" [upgrade]="upgrade"
        [isLast]="isLast"></flagship-upgrade-summary>
    </div>
    <mat-chip-list *ngIf="isCampaign">
      <mat-chip *ngIf="ship.isScarred" color="warn" selected (removed)="unscar()">
        Scarred <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <mat-chip *ngIf="ship.isVeteran" color="accent" selected (removed)="demote()">
        Veteran <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions fxLayout="column" fxLayout.gt-xs="row"
    *ngIf="ship.fleet.canEdit">
    <button mat-button [routerLink]="['ships', ship.uid]">
      Edit Ship
    </button>
    <button mat-button *ngIf="isCampaign" color="warn" [disabled]="ship.isScarred" (click)="scar()">
      Scar Ship
    </button>
    <button mat-button *ngIf="isCampaign" color="accent" [disabled]="ship.isVeteran" (click)="promote()">
      Promote to Veteran
    </button>
    <span fxFlex *ngIf="!(isExtraSmall | async)"></span>
    <button mat-button (click)="deleteShip()" color="warn">
      Delete Ship
    </button>
  </mat-card-actions>
</mat-card>