<div fxLayout="row">
    <h3 style="margin-bottom: 0;">{{ modification.name }}</h3>
    <span fxFlex></span>
    <mat-slide-toggle color="primary" [checked]="modification.enabled" (change)="enabledToggled($event)"
        matTooltip="Enabled">
    </mat-slide-toggle>
</div>
<div fxLayout="column"
    *ngIf="modification.calculatedProbabilities && (modification.calculatedProbabilities.long < 1 || modification.calculatedProbabilities.medium < 1 || modification.calculatedProbabilities.close < 1)">
    <span>Probability: (L/M/C)</span>
    <span>
        {{ modification.calculatedProbabilities.long * 100 | number:'1.0-1'}}% /
        {{ modification.calculatedProbabilities.medium * 100 | number:'1.0-1'}}% /
        {{ modification.calculatedProbabilities.close * 100 | number:'1.0-1'}}%
    </span>
</div>
<div fxLayout="row" fxLayoutGap="4px" *ngIf="canHaveColorPreference">
    <span fxFlex style="line-height: 24px;">Prefer:&nbsp;</span>
    <mat-select [(value)]="modification.sourceColorPreference" (selectionChange)="preferenceChanged($event)">
        <mat-select-trigger>
            <span *ngFor="let dieType of modification.sourceColorPreference; last as isLast">
                <i class="ffi ffi-swa-d8"
                    [ngClass]="{ 'black': dieType === types.Black, 'blue': dieType === types.Blue, 'red': dieType === types.Red }"></i>
                <span *ngIf="!isLast">/</span>
            </span>
        </mat-select-trigger>
        <mat-option *ngFor="let preference of preferences" [value]="preference">
            <span *ngFor="let dieType of preference; last as isLast">
                <i class="ffi ffi-swa-d8"
                    [ngClass]="{ 'black': dieType === types.Black, 'blue': dieType === types.Blue, 'red': dieType === types.Red }"></i>
                <span *ngIf="!isLast">/</span>
            </span>
        </mat-option>
    </mat-select>
</div>
<div fxLayout="row" fxLayoutGap="4px" *ngIf="modification.targetFaceRestrictions.length > 1">
    <span fxFlex style="line-height: 24px;">Target:&nbsp;</span>
    <mat-select [(value)]="modification.targetFacePreference" (selectionChange)="preferenceChanged($event)">
        <mat-option *ngFor="let face of modification.targetFaceRestrictions" [value]="face">
            {{ face }}
        </mat-option>
    </mat-select>
</div>