<div class="content mat-typography" ngStyle.gt-md="max-width: 75%;" style="padding-bottom: 100px;">
  <div fxLayout="row" fxLayoutGap="8px">
    <span class="mat-headline" style="margin-bottom: 4px;">Ships</span>
    <span class="mat-subtitle" style="line-height: 32px;">
      {{ fleet.ships.length }} ship(s), {{ fleet.currentPointsFromShips() }} points</span>
    <span fxFlex></span>
    <button mat-button color="primary" (click)="addShip()">Add Ship</button>
  </div>
  <mat-divider></mat-divider>
  <p *ngIf="!fleet.ships.length">You haven't added any ships. Click the 'Add Ship' button
    above to add a ship.
  </p>
  <div class="ship-list" fxLayout="column" fxLayoutGap="4px">
    <flagship-ship-detail [ship]="ship" *ngFor="let ship of fleet.ships"></flagship-ship-detail>
  </div>
  <div fxLayout="row" fxLayoutGap="8px">
    <span class="mat-headline" style="margin-bottom: 4px;">Squadrons</span>
    <span class="mat-subtitle" style="line-height: 32px;">
      {{ fleet.squadrons.length }} squadron(s), {{ fleet.currentPointsFromSquadrons() }} points</span>
    <span fxFlex></span>
    <button mat-button color="primary" (click)="addSquadron()">Add Squadron</button>
  </div>
  <mat-divider></mat-divider>
  <p *ngIf="!fleet.squadrons.length">
    You haven't added any squadrons. Click the 'Add Squadron' button
    above to add a squadron.
  </p>
  <div class="squadron-list" fxLayout="column" fxLayoutGap="4px" style="margin-top: 8px;">
    <flagship-squadrons-list [fleet]="fleet"
      [squadrons]="{trackBy: fleet.squadrons.length, squadrons: fleet.squadrons}"></flagship-squadrons-list>
  </div>
</div>
<eco-fab-speed-dial class="fab-lower-right">
  <eco-fab-speed-dial-trigger [spin]="true">
    <button mat-fab color="primary">
      <mat-icon aria-label="Add Ship/Squadron" class="spin180">add</mat-icon>
    </button>
  </eco-fab-speed-dial-trigger>
  <eco-fab-speed-dial-actions>
    <button mat-mini-fab (click)="addShip()"
      matTooltip="Add Ship" matTooltipPosition="left">
      <i class="swg mini-fab-icon"
        [ngClass]="{'swg-deathstar': fleet.faction === 0, 'swg-jedistarfight': fleet.faction === 1}"></i>
    </button>
    <button mat-mini-fab (click)="addSquadron()"
      matTooltip="Add Squadron" matTooltipPosition="left">
        <i class="swg mini-fab-icon"
        [ngClass]="{'swg-tie-2': fleet.faction === 0, 'swg-xwing-2': fleet.faction === 1}"></i>
    </button>
  </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>