.faction-icon {
    font-size: 18px;
    margin-right: 4px;
}

.faction-icon.ffi-rebel, .faction-icon.swg-galrep {
    color: red;
}

.faction-icon.ffi-imperial, .faction-icon.swg-separ {
    color: black;
}