<!-- <mat-card>
    <mat-card-header>

        <mat-icon mat-card-avatar>terrain</mat-icon>

        <mat-card-title>Locations</mat-card-title>
    </mat-card-header>
    <mat-card-content> -->
<mat-accordion>
    <mat-expansion-panel *ngFor="let location of campaign.locations">
        <mat-expansion-panel-header class="right-aligned-header">
            <mat-panel-title>
                <mat-icon *ngIf="location.controllingFaction == null" matListIcon>panorama_fish_eye</mat-icon>
                <mat-icon *ngIf="location.controlType === controlTypes.Presence" matListIcon>blur_on</mat-icon>
                <mat-icon *ngIf="location.controlType === controlTypes.Base" matListIcon>blur_circular</mat-icon>
                &nbsp;
                {{ location.name }}
            </mat-panel-title>
            <mat-panel-description>
                <i *ngIf="location.controllingFaction != null" class="ffi faction-icon"
                    [ngClass]="{'ffi-imperial': location.controllingFaction === factions.Empire, 'ffi-rebel': location.controllingFaction === factions.Rebels}"></i>
                <span>
                    {{ location.controlLabel() }}
                </span>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="8px">
            <div fxFlex>
                <p>
                    <strong>Sector(s): </strong>
                    {{ location.getSectors() }}
                </p>
                <p>
                    <strong>Objective(s): </strong>
                    {{ getObjectiveNames(location, location.objectives) }}
                </p>
                <p>
                    <strong>Strategic Effect(s): </strong>
                    {{ getStrategicEffects(location.strategicEffects) }}
                </p>

                <p
                    *ngIf="location.controlType === controlTypes.Base && viewableFactions.includes(location.controllingFaction)">
                    <strong>Secret Objective:</strong>
                    {{ getObjectiveNames(location, [location.chosenObjective]) }}
                </p>
            </div>
            <div fxFlex>
                <p>
                    <strong>Base Assault Bonus: </strong>
                    {{ location.baseAssaultBonus }}
                </p>
                <p *ngFor="let reward of location.rewards">
                    <strong>Reward: </strong>
                    {{ reward.isSquadronReward() ? 'Squadrons' : reward.upgradeType }}
                    {{ reward.winnerPoints }} / {{ reward.loserPoints }}
                </p>
            </div>
        </div>

        <mat-action-row *ngIf="canModify">
            <button mat-button color="primary" (click)="setLocationControl(location)">
                Set Location Control
            </button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>