:host {
    width: 100%;
}

.mat-card-avatar {
    margin-top: 4px;
}

.mat-card-avatar > i {
    font-size: 40px;
}

.mat-card-avatar > i.flagship {
    color: red;
}

.stat > i {
    font-size: 20px;;
}

.stat > span {
    font-size: 24px;
    vertical-align: top;
}

i.speedbox {
    border: 1px solid #8e8f8f;
    padding: 2px;
}