<mat-card>
    <mat-card-header>
        <mat-card-title>{{ campaign.name }}</mat-card-title>
        <mat-card-subtitle>{{ campaign.typeName() }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutGap="8px">
        <div>
            <h4 style="text-align: center;">Campaign Score</h4>
            <div fxLayout="row" class="campaign-score">
                <div fxLayout="column" fxFlex>
                    <flagship-faction-icon [faction]="campaign.empire.faction"></flagship-faction-icon>
                    <span>{{ campaign.empire.campaignPoints }} points</span>
                </div>
                <h3 fxFlex>&mdash;</h3>
                <!--todo: make this disappear on small-->
                <div fxLayout="column" fxFlex>
                    <flagship-faction-icon [faction]="campaign.rebels.faction"></flagship-faction-icon>
                    <span>{{ campaign.rebels.campaignPoints }} points</span>
                </div>
            </div>
        </div>
        <div *ngIf="showCurrentActStats">
            <h4 style="text-align: center;">Act {{ currentState.actInRomanNumerals() }} Score</h4>
            <div fxLayout="row" class="campaign-score">
                <div fxLayout="column" fxFlex>
                    <flagship-faction-icon [faction]="campaign.empire.faction"></flagship-faction-icon>
                    <span>{{ currentState.imperialPointsScored }} points</span>
                </div>
                <h3 fxFlex>&mdash;</h3>
                <!--todo: make this disappear on small-->
                <div fxLayout="column" fxFlex>
                    <flagship-faction-icon [faction]="campaign.rebels.faction"></flagship-faction-icon>
                    <span>{{ currentState.rebelPointsScored }} points</span>
                </div>
            </div>
        </div>
        <mat-list>
            <h3 mat-subheader>Campaign Owner</h3>
            <mat-list-item>
                <img matListAvatar [src]="ownerUser.photoURL">
                <h3 matLine>{{ ownerUser.displayName }}</h3>
            </mat-list-item>
            <h3 mat-subheader *ngIf="invitedUsers.length">Invited Users</h3>
            <mat-list-item *ngFor="let user of invitedUsers">
                <img matListAvatar [src]="user.photoURL">
                <h3 matLine>{{ user.displayName }}</h3>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions *ngIf="showCurrentActStats">
        <button mat-button (click)="setActScore()" color="accent">
            Set Score for Current Act
        </button>
        <button mat-button (click)="setCampaignScore()" color="accent">
            Set Score for Campaign
        </button>
    </mat-card-actions>
</mat-card>