<div class="mat-elevation-z2" fxLayout="column">
  <div class="objective-header" fxFlex
    [ngClass]="{'assault': type === objType.Assault, 'defense': type === objType.Defense, 'navigation': type === objType.Navigation}">
    <span>{{ objective ? objective.name : type }}</span>
  </div>
  <div class="objective-body">
    <div *ngIf="!objective" style="text-align: center;" fxLayout="column">
      <p>No objective selected.</p>
      <button mat-button (click)="selectObjective()"
        *ngIf="fleet.canEdit">Select Objective</button>
    </div>
    <div *ngIf="objective" fxLayout="column">
      <p *ngIf="objective.setup">
        <strong>Setup: </strong> {{ objective.setup }}
      </p>
      <p *ngIf="objective.specialRule">
        <strong>Special Rule: </strong> {{ objective.specialRule }}
      </p>
      <p *ngIf="objective.roundEnd">
        <strong>End of Round: </strong> {{ objective.roundEnd }}
      </p>
      <p *ngIf="objective.gameEnd">
        <strong>End of Game: </strong> {{ objective.gameEnd }}
      </p>
      <p *ngIf="objective.points">
        <strong>Score: </strong> {{ objective.points }}
      </p>
      <button mat-button (click)="selectObjective()" *ngIf="fleet.canEdit">Select Objective</button>
      <button mat-button (click)="removeObjective()" *ngIf="fleet.canEdit">Remove Objective</button>
    </div>
  </div>
</div>