<mat-tab-group *ngIf="!loading">
    <mat-tab label="Home">
        <div class="content mat-typography" ngStyle.gt-md="max-width: 90%;" style="padding-bottom: 100px;" fxFlex
            fxLayout="column" fxLayoutGap="8px">
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
                
                <flagship-campaign-setup [campaign]="campaign" fxFlex 
                    *ngIf="currentState.phase === phases.CampaignSetup"></flagship-campaign-setup>
                <flagship-campaign-turn [campaign]="campaign" fxFlex
                    *ngIf="currentState.phase !== phases.CampaignSetup && currentState.phase !== phases.Finished">
                </flagship-campaign-turn>
                <flagship-finished-campaign [campaign]="campaign" fxFlex
                    *ngIf="currentState.phase === phases.Finished"></flagship-finished-campaign>
                <flagship-campaign-info [campaign]="campaign"
                    fxFlex fxFlex.gt-sm="35"></flagship-campaign-info>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Roster">
        <div class="content mat-typography" ngStyle.gt-md="max-width: 90%;" style="padding-bottom: 100px;" fxFlex
            fxLayout="column" fxLayoutGap="8px">
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
                <flagship-campaign-team [team]="campaign.empire" [campaign]="campaign" fxFlex>
                </flagship-campaign-team>
                <flagship-campaign-team [team]="campaign.rebels" [campaign]="campaign" fxFlex>
                </flagship-campaign-team>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Locations">
        <div class="content mat-typography" ngStyle.gt-md="max-width: 90%;" style="padding-bottom: 100px;" fxFlex
            fxLayout="column" fxLayoutGap="8px">

            <flagship-campaign-locations [campaign]="campaign"></flagship-campaign-locations>
        </div>
    </mat-tab>
    <mat-tab label="Timeline">
        <div class="content mat-typography" ngStyle.gt-md="max-width: 90%;" style="padding-bottom: 100px;" fxFlex
            fxLayout="column" fxLayoutGap="8px">
            <flagship-event-timeline [campaign]="campaign"></flagship-event-timeline>
        </div>
    </mat-tab>
</mat-tab-group>