<mat-tab-group>
    <mat-tab label="Home">
        <div class="content mat-typography" ngStyle.gt-md="max-width: 90%;" style="padding-bottom: 100px;" fxFlex
            fxLayout="column" fxLayoutGap="8px">
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
                <mat-card fxFlex fxFlex.gt-sm="35">
                    <mat-card-header>
                        <mat-card-title>{{ campaign.name }}</mat-card-title>
                        <mat-card-subtitle>{{ campaign.typeName() }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div fxLayout="row" class="campaign-score">
                            <div fxLayout="column" fxFlex>
                                <i class="ffi ffi-imperial" style="font-size:48px;"></i>
                                <span>{{ campaign.empire.campaignPoints }} points</span>
                            </div>
                            <h3 fxFlex>&mdash;</h3>
                            <!--todo: make this disappear on small-->
                            <div fxLayout="column" fxFlex>
                                <i class="ffi ffi-rebel" style="font-size:48px;"></i>
                                <span>{{ campaign.rebels.campaignPoints }} points</span>
                            </div>
                        </div>
                        <mat-list>
                            <h3 mat-subheader>Campaign Owner</h3>
                            <mat-list-item>
                                <img matListAvatar [src]="ownerUser.photoURL">
                                <h3 matLine>{{ ownerUser.displayName }}</h3>
                            </mat-list-item>
                            <h3 mat-subheader *ngIf="invitedUsers.length">Invited Users</h3>
                            <mat-list-item *ngFor="let user of invitedUsers">
                                <img matListAvatar [src]="user.photoURL">
                                <h3 matLine>{{ user.displayName }}</h3>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
                <mat-card fxFlex *ngIf="currentState.phase === phases.CampaignSetup">
                    <mat-card-header>
                        <mat-card-title>Campaign Setup Phase</mat-card-title>
                        <mat-card-subtitle>
                            Invite other users to this campaign, create team rosters and establish
                            initial bases.
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div>
                            <p>
                                Use the roster tab to add players to the campaign. After all players have created
                                a base (using the Locations card) and created their fleets, the campaign owner can click
                                'Finish Setup' to begin the first round of the campaign.
                            </p>
                            <p>
                                If the participants in this campaign want to manage their own campaign data,
                                send them the invite link below.
                                This will allow them to join the campaign and create one or more campaign players.
                            </p>
                            <p>
                                <strong>Heads up!</strong> Once the campaign owner clicks 'Finish Setup', the invite
                                link
                                below will be removed and the roster will be locked.
                            </p>
                            <div fxLayout="row">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Invite URL</mat-label>
                                    <input matInput disabled value="{{ campaign.inviteUrl() }}">
                                    <mat-icon matSuffix class="clickable" (click)="copyInviteUrl()">file_copy</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="primary" (click)="finishSetup()">Finish Setup</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card *ngIf="currentState.phase !== phases.CampaignSetup && currentState.phase !== phases.Finished">
                    <span>Act {{ currentState.actInRomanNumerals() }}</span>
                    <span>Turn {{ currentState.turn }}</span>
                    <span>{{ currentState.phase.toString() }} Phase</span>
                </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Roster">
        <div class="content mat-typography" ngStyle.gt-md="max-width: 90%;" style="padding-bottom: 100px;" fxFlex
            fxLayout="column" fxLayoutGap="8px">
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
                <flagship-campaign-team [team]="campaign.empire" [campaign]="campaign" fxFlex>
                </flagship-campaign-team>
                <flagship-campaign-team [team]="campaign.rebels" [campaign]="campaign" fxFlex>
                </flagship-campaign-team>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Locations">
        <div class="content mat-typography" ngStyle.gt-md="max-width: 90%;" style="padding-bottom: 100px;" fxFlex
            fxLayout="column" fxLayoutGap="8px">

            <flagship-campaign-locations [campaign]="campaign"></flagship-campaign-locations>
        </div>
    </mat-tab>
    <mat-tab label="Timeline">Timeline</mat-tab>
</mat-tab-group>

<!-- <eco-fab-speed-dial class="fab-lower-right">
  <eco-fab-speed-dial-trigger [spin]="true">
    <button mat-fab color="primary">
      <mat-icon aria-label="Add Ship/Squadron" class="spin180">add</mat-icon>
    </button>
  </eco-fab-speed-dial-trigger>
  <eco-fab-speed-dial-actions>
    <button mat-mini-fab (click)="addShip()" matTooltip="Add Ship" matTooltipPosition="left">
      <i class="swg mini-fab-icon"
        [ngClass]="{'swg-deathstar': fleet.faction === 0, 'swg-jedistarfight': fleet.faction === 1}"></i>
    </button>
    <button mat-mini-fab (click)="addSquadron()" matTooltip="Add Squadron" matTooltipPosition="left">
      <i class="swg mini-fab-icon"
        [ngClass]="{'swg-tie-2': fleet.faction === 0, 'swg-xwing-2': fleet.faction === 1}"></i>
    </button>
  </eco-fab-speed-dial-actions>
</eco-fab-speed-dial> -->