@import '~@angular/material/_theming.scss';
@include mat-core();

$default-theme: mat-dark-theme(mat-palette($mat-green), mat-palette($mat-red));
@include angular-material-theme($default-theme);

html, body, app {
    overflow: hidden;
}

html, body, app, .app-frame {
    margin: 0;
    height: 100%;
}

.fixed-toolbar {
    position: fixed;
    top: 0;
    z-index: 9999;
}

.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6,
.mat-typography p,
mat-card.mat-card,
p.mat-caption,
mat-input-container {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

mat-card.mat-card {
    margin-bottom: 20px;
}

a.active {
    font-weight: bold;
}

mat-sidenav-container {
    height: 100%;
    margin-top: 64px;
    padding-bottom: 64px;
}

mat-sidenav.mat-sidenav {
    padding-bottom: 64px;
}

mat-sidenav.mat-sidenav, div.app-body {
    overflow: auto;
}

mat-nav-list.mat-nav-list .mat-subheader {
    margin: 0;
    padding: 10px;
    font-size: 18px;
}

div.cdk-overlay-container {
    background-color: transparent;
}