<mgl-timeline [alternate]="true" [toggle]="false">
    <mgl-timeline-entry *ngFor="let event of events">
        <mgl-timeline-entry-header class="timeline-header">{{ event.title }}</mgl-timeline-entry-header>
        <mgl-timeline-entry-content>{{ event.content }}</mgl-timeline-entry-content>
        <mgl-timeline-entry-dot>
            <i *ngIf="event.dot.icon && !event.dot.isMatIcon" [class]="event.dot.icon"></i>
            <mat-icon class="timeline-icon" *ngIf="event.dot.icon && event.dot.isMatIcon">{{ event.dot.icon }}</mat-icon>
        </mgl-timeline-entry-dot>
        <mgl-timeline-entry-side>{{ event.side }}</mgl-timeline-entry-side>
    </mgl-timeline-entry>
</mgl-timeline>