.timeline-icon {
    color: white;
    font-size: 52px;
    position: absolute;
    top: -1.5px;
    left: -1.25px;
}

.swg.timeline-icon {
    top: 3px;
    left: 2px;
}

.expanded {
    .timeline-header {
        color: white;
    }
}