<div class="app-frame">
    <mat-toolbar color="primary" class="fixed-toolbar">
        <button mat-button (click)="sidenav.open()">Menu</button>
        <span class="toolbar-header">ASP.NET Core Angular Material</span>
        <span class="example-spacer"></span>
        <a mat-button href="https://github.com/JaimeStill/AspNetCoreMaterial" target="_blank">GitHub</a>
    </mat-toolbar>
    <mat-sidenav-container class="mat-typography">
        <mat-sidenav #sidenav>
            <mat-toolbar color="primary">
                <span>ASP.NET Core Angular Material</span>
            </mat-toolbar>
            <mat-nav-list>
                <h3 mat-subheader>Getting Started</h3>
                <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="sidenav.close()">Home</a>
            </mat-nav-list>
        </mat-sidenav>
        <div class="app-body">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-container>
</div>