.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.logo {
  height: 60%;
  width: 100%;
}

.avatar {
  margin-left: 8px;
}

a.parent-link {
  text-decoration: none;
  color: white;
}

.title {
  padding-right: 16px;
}

.title-mobile {
  text-align: center;
  flex: 1 1 0%;
}