.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.logo {
  font-family: 'distantgalaxy';
  font-size: 36px;
}

.avatar {
  margin-left: 8px;
}