.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.logo {
  height: 60%;
  width: 100%;
}

.avatar {
  margin-left: 8px;
}