<div mat-dialog-content>
    <form [formGroup]="campaignForm" fxLayout="column">
        <mat-form-field>
            <mat-label>Campaign Name</mat-label>
            <input matInput formControlName="name" maxlength="25"/>
            <mat-error *ngIf="campaignForm.get('name').invalid">You must enter a name (max 25 characters) for the campaign.</mat-error>
        </mat-form-field>
        <mat-radio-group aria-label="Campaign Type" formControlName="type">
            <mat-radio-button value="1" disabled>Corellian Conflict</mat-radio-button>
            <mat-radio-button value="2">Rebellion in the Rim</mat-radio-button>
        </mat-radio-group>
        <mat-radio-group aria-label="Era" formControlName="era">
            <mat-radio-button value="1">Clone Wars</mat-radio-button>
            <mat-radio-button value="2" checked>Civil War</mat-radio-button>
        </mat-radio-group>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <span fxFlex></span>
    <button mat-button [mat-dialog-close]="getData()" [disabled]="campaignForm.invalid"
        color="primary">Create Campaign</button>
</div>