<form>
    <h3>Determine Battle Effects</h3>
    <p>
        Campaign points have already been applied to team totals. The changes to
        campaign locations as a result of this turn's battle(s) are displayed below.
    </p>
    <ul>
        <li *ngFor="let outcome of outcomes">
            <strong>{{ outcome.location.name }}</strong>
            <span *ngIf="outcome.locationChanged"> transitions from {{ outcome.location.controlLabel() }} to
                {{ outcome.afterLocation.controlLabel() }}.</span>
            <span *ngIf="!outcome.locationChanged"> unchanged ({{ outcome.location.controlLabel() }}.</span>
        </li>
    </ul>
    <h4>Build New Bases</h4>
    <p>
        At the cost of 2 resource tokens each, each team may designate
        locations where they have presence as new bases.
    </p>
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">
        <div *ngFor="let upkeep of [empireUpkeep, rebelUpkeep]; let index = index;" fxFlex>
            <h5>{{ upkeep.faction === factions.Empire ? "Empire" : "Rebels" }} (Resources:
                {{ upkeep.currentResourceTokens }})</h5>
            <mat-form-field
                *ngIf="upkeep.eligibleBaseLocations.length && upkeep.currentResourceTokens >= 2; else noBases">
                <mat-label>New {{ upkeep.faction === factions.Empire ? "Imperial" : "Rebel" }} Base(s)</mat-label>
                <mat-select [(ngModel)]="upkeep.newBases" name="{{ 'newbases-' + index }}"
                    (selectionChange)="formChanged()" required multiple>
                    <mat-option *ngFor="let location of upkeep.eligibleBaseLocations" [value]="location">
                        {{ location.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <ng-template #noBases>
                <p>
                    This team does not have enough resource tokens or does not have any eligible locations to build
                    a base.
                </p>
            </ng-template>
        </div>
    </div>
    <h3>Gain Strategic Effect Tokens</h3>
    <p>
        Each team may select a token for each base they control as well as each
        location they placed a presence sticker at this turn.
    </p>
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">
        <div *ngFor="let upkeep of [empireUpkeep, rebelUpkeep]; let index = index;" fxFlex>
            <h4>{{ upkeep.faction === factions.Empire ? "Empire" : "Rebels" }}</h4>
            <div *ngFor="let location of upkeep.tokenLocations; let li = index;">
                <mat-form-field>
                    <mat-label>Token for {{ location.name }}</mat-label>
                    <mat-select [(ngModel)]="upkeep.tokenChoices[location.id]"
                        name="{{ 'tokens-' + index + '-l-' + li}}" (selectionChange)="formChanged()" required>
                        <mat-option *ngFor="let effect of location.strategicEffects" [value]="effect">
                            {{ effects.effectName(effect) }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <h3>Gain Rewards &amp; Spend Commander Experience</h3>
    <p>
        Each player's battle reward is shown below. Command experience has already been added to each custom
        commander. Note that Flagship does not enforce rules around fleet changes during the campaign - it is up
        to each player to ensure that fleet modifications adhere to the rewards gained after battle.
    </p>
    <ul>
        <li *ngFor="let outcome of outcomes">
            <strong>{{ outcome.battle.title }}</strong>
            <ul>
                <li *ngFor="let player of outcome.winningPlayers">
                    {{ player.name }} may select
                    <span *ngFor="let reward of outcome.location.rewards; let last = last;">
                        <span *ngIf="reward.isSquadronReward()">
                            up to {{ reward.winnerPoints }} of squadrons
                        </span>
                        <span *ngIf="!reward.isSquadronReward()">
                            up to a {{ reward.winnerPoints }} point {{ reward.upgradeType }} upgrade
                        </span>
                        <span *ngIf="!last">, or </span>
                        <span *ngIf="last && !outcome.rewardsCanBeUnique">
                            . This reward <strong>cannot</strong> be unique.</span>
                        <span *ngIf="last && outcome.rewardsCanBeUnique">
                            . This reward <strong>can</strong> be unique.
                        </span>
                    </span>
                </li>
                <li *ngFor="let player of outcome.losingPlayers">
                    {{ player.name }} may select
                    <span *ngFor="let reward of outcome.location.rewards; let last = last;">
                        <span *ngIf="reward.isSquadronReward()">
                            up to
                            {{ reward.loserPoints + reward.understrengthBonus(outcome.loserFleetDifference) }}
                            ({{ reward.loserPoints}} + reward.understrengthBonus(outcome.loserFleetDifference) }}
                            understrength bonus)
                            points of squadrons
                        </span>
                        <span *ngIf="!reward.isSquadronReward()">
                            up to a {{ reward.loserPoints + reward.understrengthBonus(outcome.loserFleetDifference) }}
                            ({{ reward.loserPoints}} +
                            {{ reward.understrengthBonus(outcome.loserFleetDifference) }} understrength bonus)
                            point {{ reward.upgradeType }} upgrade
                        </span>
                        <span *ngIf="!last"> or </span>
                        <span *ngIf="last && !outcome.rewardsCanBeUnique">
                            &mdash; this reward <strong>cannot</strong> be unique.</span>
                        <span *ngIf="last && outcome.rewardsCanBeUnique">
                            &mdash; this reward <strong>can</strong> be unique.
                        </span>
                    </span>
                </li>
            </ul>
        </li>
    </ul>
    <h3>Refit &amp; Expand Fleets</h3>
    <p>
        Players can use the fleet builder to modify their fleets.
        The number of ships/unique squadrons which can be unscarred by each player on each team
        is listed below, but please keep in mind the fleet builder does not currently enforce these
        limits. Indicate below if the team is spending any Repair Yard tokens to increase the amount
        of ships/unique squadrons which can be unscarred.
    </p>
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">
        <div *ngFor="let upkeep of [empireUpkeep, rebelUpkeep]; let index = index;" fxLayout="column">
            <h4>{{ upkeep.faction === factions.Empire ? "Empire" : "Rebels" }}</h4>
            <mat-form-field fxFlex.gt-xs *ngIf="upkeep.currentRepairTokens > 0">
                <mat-label>Spent Repair Yard Tokens (Max: {{ upkeep.currentRepairTokens }})</mat-label>
                <input matInput [(ngModel)]="upkeep.repairTokensSpent" (ngModelChange)="formChanged()"
                    name="{{ 'ry-' + index }}" required type="number" min="0" [max]="upkeep.currentRepairTokens" />
            </mat-form-field>
            <span *ngIf="upkeep.currentRepairTokens === 0" fxFlex.gt-xs>
                The team does not have any Repair Yard tokens.
            </span>
            <p>
                The {{ upkeep.faction === factions.Empire ? "Imperial" : "Rebel" }} team's players may unscar
                up to {{ getUnscarringLimit(upkeep) }} scarred ships or squadrons.
            </p>
        </div>
    </div>
    <h4>Remove Conditions</h4>

    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">
        <div *ngFor="let upkeep of [empireUpkeep, rebelUpkeep]; let index = index;" fxFlex>
            <h4>{{ upkeep.faction === factions.Empire ? "Empire" : "Rebels" }}</h4>
            <p *ngIf="!upkeep.conditionStatuses.length">
                No players have conditions to remove.
            </p>
            <mat-list dense>
                <mat-list-item *ngFor="let conditionStatus of upkeep.conditionStatuses; let li = index;" class="height-auto">
                    <h3 matLine>{{ conditionStatus.player.name }} - {{ conditionStatus.condition }}</h3>
                    <p matLine *ngIf="conditionStatus.canRemoveForFree" style="white-space: normal">
                        This condition will be automatically removed due to the player playing a battle this round
                        with the {{ conditionStatus.isLowMorale ? 'Recruit Allies' : 'Steal Supplies' }} objective.
                    </p>
                    <p matLine *ngIf="!conditionStatus.canRemoveForFree" style="white-space: normal">
                        This condition can be removed at the cost of spending a 
                        {{ conditionStatus.isLowMorale ? 'Skilled Spacers' : 'Resource' }} token.
                    </p>
                    <mat-checkbox [(ngModel)]="conditionStatus.willSpendToken" name="{{ 'crm-' + index }}"
                        *ngIf="!conditionStatus.canRemoveForFree" (change)="formChanged()">Remove</mat-checkbox>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <h3>Complete Campaign Turn</h3>
    <p>
        Once all players are finished modifying fleets, click 'Finish Management Phase' below to
        finish this phase. Based on the state of the campaign at the end of this turn, finishing
        the current management phase will move the campaign to the next turn within the current act.
    </p>
    <flagship-issues-list [issues]="issues">
    </flagship-issues-list>
    <div>
        <mat-bar-button (btnClick)="completePhase()" [options]="completeButtonOptions"></mat-bar-button>
    </div>
</form>