<mat-card fxFlex>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>bar_chart</mat-icon>
    </div>
    <mat-card-title>
      Statistics
    </mat-card-title>
    <mat-card-subtitle>
      View expected damage, accuracies, and critical hits at all ranges.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    
  </mat-card-content>
  <mat-card-actions>
    <span fxFlex></span>
    <button mat-button (click)="deleteShip()" color="warn">Delete Ship</button>
  </mat-card-actions>
</mat-card>