.chart-wrapper {
    display: grid;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    min-height: 100px;
}

.chart-wrapper > h3 {
    text-align: center;
}

.chart-wrapper > .stat-selector {
    margin-bottom: 8px;
}

.stats-sidenav {
    min-width: 300px;
}

.stats-container {
    min-height: 100%;
}

.stat-selector {
    margin-bottom: 16px;
}

th.header-grouping {
    text-align: center;
    font-weight: bold;
    border-bottom-style: none;
}

/* 
.stats-toolbar {
    position: sticky;
    top: 64px;
} */