<div class="content mat-typography" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="20px">
  <div fxLayout="column" fxLayoutGap="8px" fxFlex.gt-sm="40">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>signal_wifi_4_bar</mat-icon>
        </div>
        <mat-card-title>
          Firing Arc
        </mat-card-title>
        <mat-card-subtitle>
          Select the firing arc you wish to view statistics for.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutGap="4px">
        <mat-button-toggle-group value="FRONT" fxLayout="row" style="width:100%;">
          <mat-button-toggle fxFlex value="FRONT" (change)="selectArc(ship.frontArmament)">Front
          </mat-button-toggle>
          <mat-button-toggle fxFlex value="SIDE" (change)="selectArc(ship.leftArmament)">Side
          </mat-button-toggle>
          <mat-button-toggle fxFlex value="AUX" (change)="selectArc(ship.frontArmament)" *ngIf="ship.leftAuxArmament">
            Aux</mat-button-toggle>
          <mat-button-toggle fxFlex value="REAR" (change)="selectArc(ship.rearArmament)">Rear
          </mat-button-toggle>
        </mat-button-toggle-group>
        <div>
          <span class="mat-body-strong">Selected Battery:&nbsp;</span>
          <flagship-battery [armament]="armament"></flagship-battery>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>signal_wifi_4_bar</mat-icon>
        </div>
        <mat-card-title>
          Attack Strategies
        </mat-card-title>
        <mat-card-subtitle>
          Reroll, modification, and replacement preferences.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutGap="4px">

      </mat-card-content>
    </mat-card>
  </div>
  <mat-card fxFlex.gt-sm="60">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>bar_chart</mat-icon>
      </div>
      <mat-card-title>
        Statistics
      </mat-card-title>
      <mat-card-subtitle>
        View expected damage, accuracies, and critical hits at all ranges.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Charts display the expected value at all ranges +- one standard deviation.</p>
      <div class="chart-wrapper">
        <mat-button-toggle-group value="DMG" fxLayout="row" class="stat-selector">
          <mat-button-toggle fxFlex value="DMG" (change)="selectStat('DMG')">Damage
          </mat-button-toggle>
          <mat-button-toggle fxFlex value="ACC" (change)="selectStat('ACC')">Accuracies
          </mat-button-toggle>
          <mat-button-toggle fxFlex value="CRT" (change)="selectStat('CRT')">Criticals
          </mat-button-toggle>
        </mat-button-toggle-group>
        <div style="max-height: 80vh;">
          <ngx-charts-bar-vertical-2d [scheme]="chart.colorScheme" [results]="chart.data" [gradient]="chart.gradient"
            [xAxis]="chart.showXAxis" [yAxis]="chart.showYAxis" [legend]="chart.showLegend"
            [showXAxisLabel]="chart.showXAxisLabel" [showYAxisLabel]="chart.showYAxisLabel"
            [xAxisLabel]="chart.xAxisLabel" [yAxisLabel]="chart.yAxisLabel" (select)="onSelect($event)"
            [yScaleMax]="chart.yScaleMax" [noBarWhenZero]="false">
          </ngx-charts-bar-vertical-2d>
        </div>
        <div style="max-height: 80vh" *ngIf="showCV">
          <ngx-charts-gauge [results]="gauge.data" [units]="gauge.units" [bigSegments]="gauge.bigSegments"
            [smallSegments]="gauge.smallSegments" [showText]="false"
            [view]="[350,350]">
          </ngx-charts-gauge>
          <h3>Coefficient of Variation</h3>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <span fxFlex></span>
      <button mat-button (click)="deleteShip()" color="warn">Delete Ship</button>
    </mat-card-actions>
  </mat-card>
</div>
