<div fxLayout="column" fxLayoutGap="8px">
    <mat-card>
        <mat-card-header>
            <i mat-card-avatar class="ffi {{ factionIcon }}" style="font-size:36px;"></i>
            <mat-card-title>{{ faction }}</mat-card-title>
            <mat-card-subtitle>{{ team.name || "No team name set" }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="!team.players.length">
            <p>You haven't added any players yet. Click 'Add Player' below to get started.</p>
        </mat-card-content>
        <mat-list *ngIf="team.players.length">
            <mat-list-item *ngFor="let player of team.players">
                <img matListAvatar [src]="playerMap[player.id].photoURL" [alt]="playerMap[player.id].displayName"
                    matTooltip="Controlled by {{ playerMap[player.id].displayName }}">
                <h3 mat-line>
                    {{ player.name }}

                </h3>
                <p mat-line>
                    <span>{{ player.wins }} W / {{ player.losses }} L / {{ player.mov }} MOV</span>
                </p>
                <div matTooltip="{{ player.isLeader ? 'Team Leader' : 'Promote to Team Leader'}}">
                    <button mat-icon-button [disabled]="player.isLeader" (click)="makeTeamLeader(player)">
                        <mat-icon [class.gold]="player.isLeader">{{ player.isLeader ? 'star' : 'star_border' }}
                        </mat-icon>
                    </button>
                </div>

                <a mat-button [routerLink]="['/fleets', player.fleetId]">View Fleet</a>
            </mat-list-item>
        </mat-list>
        <mat-card-actions *ngIf="canAddPlayers">
            <button mat-button (click)="addPlayer()">Add Player</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <i mat-card-avatar class="ffi {{ factionIcon }}" style="font-size:36px;"></i>
            <mat-card-title>Token Inventory</mat-card-title>
            <mat-card-subtitle>{{ team.name || "No team name set" }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="tokenCounts" fxFlex>
                <mat-text-column name="effect"></mat-text-column>
                <mat-text-column name="count"></mat-text-column>
                <tr mat-header-row *matHeaderRowDef="['effect', 'count']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['effect', 'count']"></tr>
            </table>
        </mat-card-content>

    </mat-card>
</div>