<div fxLayout="column" fxLayoutGap="8px">
    <mat-card>
        <mat-card-header>
            <i mat-card-avatar class="ffi {{ factionIcon }}" style="font-size:36px;"></i>
            <mat-card-title>{{ faction }}</mat-card-title>
            <mat-card-subtitle>{{ team.name || "No team name set" }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="!team.players.length">
            <p>You haven't added any players yet. Click 'Add Player' below to get started.</p>
        </mat-card-content>
        <mat-list *ngIf="team.players.length">
            <mat-list-item *ngFor="let player of team.players">
                <img matListAvatar
                    [src]='playerMap[player.id]?.photoURL ? playerMap[player.id]?.photoURL : "https://ui-avatars.com/api/?name=" + playerMap[player.id]?.displayName'
                    [alt]="playerMap[player.id]?.displayName"
                    matTooltip="Controlled by {{ playerMap[player.id]?.displayName }}"
                    *ngIf="!(isHandsetPortrait$ | async) && playerMap[player.id]">
                <h3 mat-line>{{ player.name }}</h3>
                <p mat-line>
                    <span>{{ player.wins }} W / {{ player.losses }} L / {{ player.mov }} MOV</span>
                </p>
                <p mat-line>
                    <strong>XP:</strong>
                    <span>
                        {{ commanders[player.id].currentExperience }} current,
                        {{ commanders[player.id].lifetimeExperience }} lifetime
                    </span>
                </p>
                <div matTooltip="{{ player.isLeader ? 'Team Leader' : 'Promote to Team Leader'}}">
                    <button mat-icon-button [disabled]="player.isLeader" (click)="makeTeamLeader(player)">
                        <mat-icon [class.gold]="player.isLeader">{{ player.isLeader ? 'star' : 'star_border' }}
                        </mat-icon>
                    </button>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="View Fleet or Set XP">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <a mat-menu-item [routerLink]="['/fleets', player.fleetId]">
                        <mat-icon>edit</mat-icon>
                        <span>View / Edit Fleet</span>
                    </a>
                    <button mat-menu-item (click)="setXP(player)">
                        <mat-icon>plus_one</mat-icon>
                        <span>Set XP</span>
                    </button>
                    <button mat-menu-item *ngIf="canAddPlayers" (click)="deletePlayer(player)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete Player</span>
                    </button>
                </mat-menu>
            </mat-list-item>
        </mat-list>
        <mat-card-actions *ngIf="canAddPlayers">
            <button mat-button (click)="addPlayer()">Add Player</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <i mat-card-avatar class="ffi {{ factionIcon }}" style="font-size:36px;"></i>
            <mat-card-title>Token Inventory</mat-card-title>
            <mat-card-subtitle>{{ team.name || "No team name set" }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Note: Flagship will automatically manage token inventory as the campaign
                progresses, so you do not need to manually add and remove tokens here unless
                you are correcting a mistake.
            </p>
            <table mat-table [dataSource]="tokenCounts" style="width: 100%;">
                <mat-text-column name="effect" fxFlex></mat-text-column>
                <mat-text-column name="count" fxFlex></mat-text-column>
                <ng-container matColumnDef="modify">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let count">
                        <button mat-icon-button (click)="increaseToken(count.type)" [disabled]="!canEditTokens">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-icon-button (click)="decreaseToken(count.type)" [disabled]="!canEditTokens">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['effect', 'count', 'modify']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['effect', 'count', 'modify']"></tr>
            </table>
        </mat-card-content>

    </mat-card>
</div>