<div style="padding: 15px;" [ngStyle.xs]="{'padding': '10px'}" [@info-slide-in]="isOpenState">
    <div class="mat-elevation-z1"
         [ngClass]="getAlertType() + '-box'"
         style="overflow: hidden" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px" fxLayoutGap.xs="0">
      <div fxFlex="0 0 auto" fxHide.xs>
        <ng-container [ngSwitch]="getAlertType()">
          <mat-icon *ngSwitchCase="'info'">info</mat-icon>
          <mat-icon *ngSwitchCase="'error'">error</mat-icon>
          <mat-icon *ngSwitchCase="'warn'">warning</mat-icon>
          <mat-icon *ngSwitchCase="'success'">done</mat-icon>
        </ng-container>
      </div>
      <div fxFlex="1 1 auto">
        <ng-content></ng-content>
      </div>
      <button mat-icon-button fxFlex="0 0 auto" (click)="isOpen=false">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>