
.stats-sidenav {
    width: 250px;
    max-width: 250px;
    margin-top: 64px;
}

.stats-container {
    min-height: 100%;
}

.stat-selector {
    margin-bottom: 16px;
}

th.header-grouping {
    text-align: center;
    font-weight: bold;
    border-bottom-style: none;
}

/* 
.stats-toolbar {
    position: sticky;
    top: 64px;
} */