.squadron-list .mat-expansion-panel-header-title,
.squadron-list .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.squadron-list .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}
/*
.squadron-title {
    max-width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
   
    line-height: 20px;
    
    max-height: 40px;
    fallback 
}
*/

.points-small {
    font-size: 0.5em;
}

.squadron-icon {
    color: black;
    margin-right: 4px;
    margin-left: 4px;
}

.keyword-list {
    list-style: none;
    display: inline;
    padding: 0px;
}

.keyword-list li {
    display: inline;
}

.keyword-list li::after {
    content: ", "
}

.keyword-list li:last-child::after {
    content: "";
}