.squadron-list .mat-expansion-panel-header-title,
.squadron-list .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.squadron-list .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.squadron-icon {
    color: black;
    margin-right: 4px;
    margin-left: 4px;
}

.keyword-list {
    list-style: none;
    display: inline;
    padding: 0px;
}

.keyword-list li {
    display: inline;
}

.keyword-list li::after {
    content: ", "
}

.keyword-list li:last-child::after {
    content: "";
}