<mat-accordion class="squadron-list">
  <mat-expansion-panel *ngFor="let id of squadronIds">
    <mat-expansion-panel-header class="right-aligned-header">
      <mat-panel-title fxFlex="auto" class="squadron-title">
        {{ distinctSquadrons[id].unique ? "&#9679;&nbsp;" + distinctSquadrons[id].displayName() : distinctSquadrons[id].displayName() }}
        {{ squadronCounts[id] > 1 ? '(' + squadronCounts[id] + ')' : ''}}
      </mat-panel-title>
      <mat-panel-description ngClass.xs="points-small">
        <span matTooltip="{{ distinctSquadrons[id].points + ' &times; ' + squadronCounts[id] }}">
          {{ squadronCounts[id] * distinctSquadrons[id].points }}
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="distinctSquadrons[id].defenseTokens.length">
      <span>Defense Tokens:&nbsp;</span>
      <i class="ffi squadron-icon" *ngFor="let token of distinctSquadrons[id].defenseTokens" [ngClass]="{'ffi-swa-brace': token === 0, 
                             'ffi-swa-evade': token === 1,
                             'ffi-swa-redirect': token === 2,
                             'ffi-swa-contain': token === 3,
                             'ffi-swa-scatter': token === 4
                            }"></i>
    </div>
    <div fxLayout="row" fxLayoutGap="4px">
      <span fxFlex>
        <i class="ffi ffi-swa-speed squadron-icon"></i>{{ distinctSquadrons[id].speed }}
      </span>
      <span fxFlex>
        <i class="ffi ffi-swa-hull squadron-icon"></i>{{ distinctSquadrons[id].hull }}
      </span>
      <span fxFlex>
        <i class="ffi ffi-swa-anti-squadron squadron-icon"></i>
        <flagship-battery [armament]="distinctSquadrons[id].antiSquadronArmament"></flagship-battery>
      </span>
      <span fxFlex>
        <i class="ffi ffi-swa-anti-ship squadron-icon"></i>
        <flagship-battery [armament]="distinctSquadrons[id].batteryArmament"></flagship-battery>
      </span>
    </div>
    <ul class="keyword-list">
      <li *ngFor="let keyword of distinctSquadrons[id].keywords">{{ keyword.displayText() }}</li>
    </ul>
    <p *ngIf="distinctSquadrons[id].text.length">{{ distinctSquadrons[id].text }}</p>
    <mat-chip-list *ngIf="isCampaign && distinctSquadrons[id].unique">
      <mat-chip *ngIf="distinctSquadrons[id].isScarred" color="warn" selected (removed)="unscar(id)">
        Scarred <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <mat-chip *ngIf="distinctSquadrons[id].isVeteran" color="accent" selected (removed)="demote(id)">
        Veteran <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <mat-action-row>
      <div *ngIf="!distinctSquadrons[id].unique" fxLayout="row">
        <button mat-icon-button [disabled]="squadronCounts[id] === 1" (click)="decreaseSquadronCount(id)">
          <mat-icon aria-label="Remove One Squadron">remove</mat-icon>
        </button>
        <button mat-icon-button (click)="increaseSquadronCount(id)">
          <mat-icon aria-label="Add One Squadron">add</mat-icon>
        </button>
      </div>
      <div *ngIf="distinctSquadrons[id].unique && isCampaign" fxLayout="row">
        <button mat-button color="warn" [disabled]="distinctSquadrons[id].isScarred" (click)="scar(id)">
          {{ (isHandset$ | async) ? 'Scar' : 'Scar Squadron'}}
        </button>
        <button mat-button color="accent" [disabled]="distinctSquadrons[id].isVeteran" (click)="promote(id)">
          {{ (isHandset$ | async) ? 'Veteran': 'Promote to Veteran'}}
        </button>
      </div>
      <span fxFlex></span>
      <button mat-button color="warn" (click)="removeDistinctSquadron(id)" *ngIf="!(isHandset$ | async)">
        {{ squadronCounts[id] > 1 ? "Remove Squadrons" : "Remove Squadron" }}
      </button>
      <button mat-icon-button color="warn" (click)="removeDistinctSquadron(id)" *ngIf="(isHandset$ | async)">
        <mat-icon aria-label="Remove Squadron(s)">delete</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>