/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~sw-rpg-icons/css/sw-rpg-icons.css";
@import "~sw-rpg-icons/css/sw-rpg-colors.css";
@import "assets/css/starwars-glyphicons.css";

body {
    padding: 0;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

@font-face {
    font-family: 'distantgalaxy';
    src: url('assets/fonts/distantgalaxy.woff') format('woff');
    /* src: url('DISTGRG_-webfont.eot?#iefix') format('embedded-opentype'),
         url('DISTGRG_-webfont.woff2') format('woff2'),
         url('DISTGRG_-webfont.woff') format('woff'),
         url('DISTGRG_-webfont.ttf') format('truetype'),
         url('DISTGRG_-webfont.svg#distant_galaxyregular') format('svg'); */
    font-weight: normal;
    font-style: normal;
}

.content {
    padding: 16px;
}

.clickable {
    cursor: pointer;
}

.text-muted {
    color: hsla(0, 0%, 47%, 0.75)
}

.mat-card-header-text {
    width: 100%;
}

:host {
    width: 100%;
}

button.fab-lower-right {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

eco-fab-speed-dial.fab-lower-right {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.mat-card-avatar {
    margin-top: 4px;
}

.mat-card-avatar > .mat-icon {
    font-size: 40px;
}

.mat-card-avatar > i {
    font-size: 40px;
}

.mat-card-avatar > i.flagship {
    color: red;
}

.stat > i {
    font-size: 20px;;
}

.stat > span {
    font-size: 24px;
    vertical-align: top;
}

i.speedbox {
    border: 1px solid #8e8f8f;
    padding: 2px;
}

i.upgrade{
    width:28px !important;
    display:block;
    height:28px !important;
    color:white;
    text-decoration:none;
}
i.upgrade:before{
    content: '';
    background-size:cover;
        position:absolute;
    width:28px;
    height:28px;
}
i.commander:before {
    background: url('/assets/img/commander.png');
}
i.defensiveretrofit:before {
    background: url('/assets/img/defensiveretrofit.png');
}
i.experimentalretrofit:before {
    background: url('/assets/img/experimentalretrofit.png');
}
i.fleetcommand:before {
    background: url('/assets/img/fleetcommand.png');
}
i.fleetsupport:before {
    background: url('/assets/img/fleetsupport.png');
}
i.ioncannons:before {
    background: url('/assets/img/ioncannons.png');
}
i.offensiveretrofit:before {
    background: url('/assets/img/offensiveretrofit.png');
}
i.officer:before {
    background: url('/assets/img/officer.png');
}
i.ordnance:before {
    background: url('/assets/img/ordnance.png');
}
i.supportteam:before {
    background: url('/assets/img/supportteam.png');
}
i.title:before {
    background: url('/assets/img/title.png');
}
i.turbolasers:before {
    background: url('/assets/img/turbolasers.png');
}
i.weaponsteam:before {
    background: url('/assets/img/weaponsteam.png');
}
i.boardingteam:before {
    background: url('/assets/img/boardingteam.png');
}