rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
    match /fleets/{fleetId} {
      allow read: if true;
      allow update, delete: if request.auth.uid == resource.data.ownerUid;
      allow create: if request.auth.uid != null;
    }
    match /campaigns/{campaignId} {
      allow read, update: if request.auth.uid in resource.data.playerUids || request.auth.uid == resource.data.ownerUid;
      allow delete: if request.auth.uid == resource.data.ownerUid;
      allow create: if request.auth.uid != null;
    }
    match /invites/{inviteToken} {
      allow read: if true;
      allow create, update, delete: if request.auth.uid != null;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}