<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>account_tree</mat-icon>
    </div>
    <mat-card-title>
      Methodology
    </mat-card-title>
    <mat-card-subtitle>
      Explanation of how results are achieved.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      In general, all statistics are derived by modeling the probabilities of each die in the
      attack pool, applying enabled attack effects (in order), and then using the final probabilities
      of each die in the pool to calculate statistics like mean, standard deviation, the coefficient of
      variance, and the probability of obtaining at least X results (for example, at least one critical).
      Flagship uses a branching attack pool model to simulate the probability of conditional effects. For example,
      if the probability of using a reroll effect is 60%, the model will split into two probability pools - one
      with the reroll applied (at P = 60%) and one unchanged pool (at P = 40%). This means that applying more
      than one conditional effect creates a tree of probabilities and that the order of effects can be significant.
    </p>
    <p>
      Flagship applies a default effect ordering that makes sense for most scenarios:
    </p>
    <ol>
      <li>Armament Changes (for example, Spinal Armament)</li>
      <li>Dice Replacement Effects (for example, Commander Sato)</li>
      <li>Unconditional Dice Additions (for example, External Racks)</li>
      <li>Conditional Dice Additions (for example, a Concentrate Fire Dial)</li>
      <li>Unconditional<sup>*</sup> Rerolls (for example, Darth Vader)</li>
      <li>Conditional Rerolls (for example, Leading Shots)</li>
      <li>Die Modifications (for example, H9 Turbolasers)</li>
    </ol>
    <p>You are free (with the exception of armament changing effects) to re-order and enable/disable the effects.</p>
    <p class="text-muted footnote"><sup>*</sup>Unconditional from the perspective of affecting the attack pool in a
      negative way. For example,
      the cost of Darth Vader spending a defense token for a reroll is not modeled as part of these calculations.
    </p>
    <h3>Reroll Strategies</h3>
    <p>
      Reroll effects (such as Leading Shots or Darth Vader) allow you to specify a reroll strategy. Flagship allows you
      to specify whether or not you would reroll accuracies, single hits, and/or black hits. Blank dice are always
      assumed
      to be rerolled if possible. Note: not all reroll strategies are applicable to all reroll effects.
    </p>
    <h3>Modification Preferences</h3>
    <p>
      Modification effects (such as H9 Turbolasers or Turbolaser Reroute Circuits) allow you to specify a preference
      regarding the color of the die to be modified and, if more than one modification outcome is possible,
      a preference regarding the modification outcome. Flagship will choose the least modified die which is capable
      of performing the modification in order of your color preferences. Modifications will also generally show the
      probability of the effect being used at each range (typically, this is the probability of at least 1 die
      in the pool having the outcome required to perform the modification, or, if any outcome is permissible, the
      probability of having at least one blank in the pool.)
    </p>
    <div *ngIf="hasAdditionalNotes()">
      <h3>Specific Effect Methodologies</h3>
      <mat-accordion>
        <mat-expansion-panel *ngIf="hasEffect('Leading Shots')">
          <mat-expansion-panel-header>
            Leading Shots
          </mat-expansion-panel-header>
          <p>
            This effect is more complicated to model. There are two considerations -
            first, what is the probability that the effect should be applied, and second, which blue
            die should be removed from the pool in which the effect is applied. Flagship makes a general
            assumption that Leading Shots will be used when at least two dice in the pool are blank or when
            you roll at least two blue accuracies. This is calculated using the probability of a Poisson Binomial
            distribution.
            <strong>In general,</strong> this means that Flagship will undervalue or not apply the effect
            of Leading Shots when you have fewer than 2 non-blue dice in your battery (for example,
            on the side arc of an Interdictor Suppression Refit) because the probability of the effect is low
            to nil.
          </p>
          <p>
            When choosing which blue die to remove from the attack pool, Flagship selects the least modified die. If
            more than one
            die has been modified an equal number of times, the die with the probability distribution closest
            to the natural distribution of a blue die is selected. The rationale here is that you are more likely
            to sacrifice a die that has not been steered towards specific results through preceding effects. This
            is, of course, not a perfect assumption; keep in mind that this simulation of Leading Shots is a general
            use case rather than a comprehensive one.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="hasEffect('Veteran Gunners')">
          <mat-expansion-panel-header>
            Veteran Gunners
          </mat-expansion-panel-header>
          <p>
            Veteran Gunners creates a conditional attack pool where the probability of using the reroll effect
            is the probability that at least half your attack pool results are blanks. The rerolled pool is a
            "fresh" pool where each result is equal to an unmodified roll. There are, of course, other situations
            where you might want to use Veteran Gunners but this metric is probably a good rule of thumb.
          </p>
          <p>
            Notably, because Veteran Gunners is a complete reroll of all dice in the pool, the effect does not
            change the calculated outcomes unless you also have another kind of die modification taking place
            before Veteran Gunners. You may also find that Flagship calculates a low probability of using
            Veteran Gunners in most situations. The value in this upgrade is having the possibility of a total
            "do-over" for very bad rolls rather than improving the average outcomes like most reroll effects do.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="hasEffect('Commander Sato')">
          <mat-expansion-panel-header>
            Commander Sato
          </mat-expansion-panel-header>
          <p>
            Flagship will replace up to two dice in your pool with the die color of your choice
            (typically black), preferring to replace red, then blue, then black dice. Flagship
            does not currently support replacing each die with a die of a different color or replacing
            only one die.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="hasEffect('Dominator')">
          <mat-expansion-panel-header>
            Dominator
          </mat-expansion-panel-header>
          <p>
            This effect assumes you are adding the maximum dice (2 blue dice).
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </mat-card-content>
</mat-card>