<form>
    <p>
        Use the form below to record the results of this turn's battles. When finished, click 'Finish Battle Phase' to
        confirm the results and move to the management phase (commander experience will be awarded at this point).
    </p>
    <p *ngIf="!loadedFleets">Loading fleets...</p>
    <div *ngIf="loadedFleets">
        <div *ngFor="let battle of battles; let index=index;" fxLayout="column">
            <h4 class="no-margin">{{ battle.title }}</h4>
            <h5>
                <span>
                    {{ getParticipantNames(battle.attackingPlayers) }} </span>
                vs.
                {{ getParticipantNames(battle.defendingPlayers) }}
            </h5>
            <mat-form-field fxFlex>
                <mat-label>Objective Played</mat-label>
                <mat-select [(ngModel)]="battleObjectives[index]" name="{{ 'battle-obj-' + index }}"
                    (selectionChange)="formChanged()" required>
                    <mat-option *ngIf="battleObjectives[index]"></mat-option>
                    <mat-option *ngFor="let objective of possibleObjectives[index]" [value]="objective">
                        {{ objective.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px" fxLayoutAlign="start center">
                <mat-form-field fxFlex>
                    <mat-label>Attacker(s) Total Fleet Points</mat-label>
                    <input matInput [(ngModel)]="attackerBattleResults[index].fleetPoints"
                        (ngModelChange)="formChanged()" name="{{ 'attacker-tfp-' + index }}" required type="number" />
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>Attacker(s) Score</mat-label>
                    <input matInput [(ngModel)]="attackerBattleResults[index].score" (ngModelChange)="formChanged()"
                        name="{{ 'attacker-score-' + index }}" required type="number" />
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px" fxLayoutAlign="start center">
                <mat-form-field fxFlex>
                    <mat-label>Defender(s) Total Fleet Points</mat-label>
                    <input matInput [(ngModel)]="defenderBattleResults[index].fleetPoints"
                        (ngModelChange)="formChanged()" name="{{ 'defender-tfp-' + index }}" required type="number" />
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>Defender(s) Score</mat-label>
                    <input matInput [(ngModel)]="defenderBattleResults[index].score" (ngModelChange)="formChanged()"
                        name="{{ 'defender-score-' + index }}" required type="number" />
                </mat-form-field>
            </div>
            <h5>Battle Result</h5>
            <p *ngIf="battleStates[index] === states.Declared">
                Enter the total fleet points and scores above to view the winner, margin of victory,
                and experience rewards that will result from this battle.
            </p>
            <p *ngIf="battleStates[index] === states.AttackersWon">
                Attacking team ({{ getParticipantNames(battle.attackingPlayers) }}) wins with an MoV of
                {{ attackerBattleResults[index].score - defenderBattleResults[index].score }} against
                defending team ({{ getParticipantNames(battle.defendingPlayers) }}).
                Attacking team player(s) earn {{ attackerBattleResults[index].earnedXP }} XP and
                {{ attackerBattleResults[index].earnedPoints }} campaign points.
                Defending team player(s) earn {{ defenderBattleResults[index].earnedXP }} XP and
                {{ defenderBattleResults[index].earnedPoints }} campaign points.
            </p>
            <p *ngIf="battleStates[index] === states.DefendersWon">
                Defending team ({{ getParticipantNames(battle.defendingPlayers) }}) wins with an MoV of
                {{ defenderBattleResults[index].score - attackerBattleResults[index].score }} against
                attacking team ({{ getParticipantNames(battle.attackingPlayers) }}).
                Attacking team player(s) earn {{ attackerBattleResults[index].earnedXP }} XP and
                {{ attackerBattleResults[index].earnedPoints }} campaign points.
                Defending team player(s) earn {{ defenderBattleResults[index].earnedXP }} XP and
                {{ defenderBattleResults[index].earnedPoints }} campaign points.
            </p>
        </div>
        <flagship-issues-list [issues]="issues">
        </flagship-issues-list>
    </div>

    <div>
        <mat-bar-button (btnClick)="completePhase()" [options]="completeButtonOptions"></mat-bar-button>
    </div>
</form>