<mat-sidenav-container class="stats-container">
  <mat-sidenav [mode]="sidenavMode" position="end" [(opened)]="showingEffects" fixedInViewport="true">
    <div fxLayout="column" class="content mat-typography stats-sidenav">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>casino</mat-icon>
        </div>
        <mat-card-title>
          Attack Effects
        </mat-card-title>
        <mat-card-subtitle>
          Simulate rerolls and dice modifications.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let modification of modifications; first as isFirst; last as isLast; index as idx;">
          <div fxLayout="row">
            <div fxFlex="15">
              <div fxLayout="column" *ngIf="modification.orderable">
                <button mat-icon-button aria-label="Move Up" (click)="reorderModificationUp(modification)"
                  [disabled]="isFirst || (idx > 0 && !modifications[idx-1].orderable)">
                  <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
                <button mat-icon-button aria-label="Move Down" (click)="reorderModificationDown(modification)"
                  [disabled]="isLast">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
              </div>
            </div>
            <div fxFlex="85" fxLayout="column">
              <flagship-reroll-modification *ngIf="modification.type === modTypes.Reroll" [modification]="modification"
                (change)="modificationChanged($event)">
              </flagship-reroll-modification>
              <flagship-addition-modification *ngIf="modification.type === modTypes.Addition"
                [modification]="modification" (change)="modificationChanged($event)">
              </flagship-addition-modification>
            </div>
          </div>
          <mat-divider *ngIf="!isLast"></mat-divider>
        </div>
      </mat-card-content>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="stats-toolbar">
      <mat-select (selectionChange)="selectArc(selectedArc)" [(value)]="selectedArc" 
        ngStyle.gt-xs="width: 150px;" style="width: 100px;">
        <mat-option [value]="arcs.Front">Front Arc</mat-option>
        <mat-option [value]="arcs.Left">Side Arc</mat-option>
        <mat-option [value]="arcs.LeftAux" *ngIf="ship.leftAuxArmament">Auxiliary Arc</mat-option>
        <mat-option [value]="arcs.Rear">Rear Arc</mat-option>
      </mat-select>
      <flagship-battery [armament]="armament"></flagship-battery>
      <span fxFlex></span>
      <button mat-button (click)="toggleAttackEffects()" *ngIf="sidenavMode === 'side'">
        {{ showingEffects ? "Hide" : "Show"}} Effects
      </button>
      <button mat-icon-button (click)="toggleAttackEffects()" *ngIf="sidenavMode === 'over'">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="content mat-typography" fxLayout="column" fxLayoutGap="16px">

      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>bar_chart</mat-icon>
          </div>
          <mat-card-title>
            {{ longRange.yAxisLabel }} Chart
          </mat-card-title>
          <mat-card-subtitle>
            View expected damage, accuracies, and critical hits at all ranges.
          </mat-card-subtitle>

        </mat-card-header>
        <mat-card-content>
          <p>Charts display the expected value at all ranges ± one standard deviation.</p>
          <mat-button-toggle-group value="DMG" fxLayout="row" class="stat-selector">
            <mat-button-toggle fxFlex value="DMG" (change)="selectStat('DMG')" matTooltip="Damage">
              <i class="ffi ffi-swa-hit" style="font-size: 32px;"></i>
            </mat-button-toggle>
            <mat-button-toggle fxFlex value="ACC" (change)="selectStat('ACC')" matTooltip="Accuracies">
              <i class="ffi ffi-swa-accuracy" style="font-size: 32px;"></i>
            </mat-button-toggle>
            <mat-button-toggle fxFlex value="CRT" (change)="selectStat('CRT')" matTooltip="Criticals">
              <i class="ffi ffi-swa-crit" style="font-size: 32px;"></i>
            </mat-button-toggle>
          </mat-button-toggle-group>

          <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between">
            <div fxFlex.gt-sm="33" class="chart-wrapper" style="min-height: 250px;">
              <div class="chart-wrapper">
                <ngx-charts-bar-vertical [scheme]="longRange.colorScheme" [results]="longRange.data"
                  [gradient]="longRange.gradient" [xAxis]="longRange.showXAxis" [yAxis]="longRange.showYAxis"
                  [legend]="longRange.showLegend" [showXAxisLabel]="longRange.showXAxisLabel"
                  [showYAxisLabel]="longRange.showYAxisLabel" [xAxisLabel]="longRange.xAxisLabel"
                  [yAxisLabel]="longRange.yAxisLabel" (select)="onSelect($event)" [yScaleMax]="longRange.yScaleMax"
                  [noBarWhenZero]="false">
                </ngx-charts-bar-vertical>
              </div>
            </div>
            <div fxFlex.gt-sm="33" class="chart-wrapper" style="min-height: 250px;">
              <div class="chart-wrapper">
                <ngx-charts-bar-vertical [scheme]="mediumRange.colorScheme" [results]="mediumRange.data"
                  [gradient]="mediumRange.gradient" [xAxis]="mediumRange.showXAxis" [yAxis]="mediumRange.showYAxis"
                  [legend]="mediumRange.showLegend" [showXAxisLabel]="mediumRange.showXAxisLabel"
                  [showYAxisLabel]="mediumRange.showYAxisLabel" [xAxisLabel]="mediumRange.xAxisLabel"
                  [yAxisLabel]="mediumRange.yAxisLabel" (select)="onSelect($event)" [yScaleMax]="mediumRange.yScaleMax"
                  [noBarWhenZero]="false">
                </ngx-charts-bar-vertical>
              </div>
            </div>
            <div fxFlex.gt-sm="33" class="chart-wrapper" style="min-height: 250px;">
              <div class="chart-wrapper">
                <ngx-charts-bar-vertical [scheme]="closeRange.colorScheme" [results]="closeRange.data"
                  [gradient]="closeRange.gradient" [xAxis]="closeRange.showXAxis" [yAxis]="closeRange.showYAxis"
                  [legend]="closeRange.showLegend" [showXAxisLabel]="closeRange.showXAxisLabel"
                  [showYAxisLabel]="closeRange.showYAxisLabel" [xAxisLabel]="closeRange.xAxisLabel"
                  [yAxisLabel]="closeRange.yAxisLabel" (select)="onSelect($event)" [yScaleMax]="closeRange.yScaleMax"
                  [noBarWhenZero]="false">
                </ngx-charts-bar-vertical>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>table</mat-icon>
          </div>
          <mat-card-title>
            Statistics
          </mat-card-title>
          <mat-card-subtitle>
            View statistics by range in tabular format.
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>The table below shows μ (mean), σ (standard deviation), and CV (the coefficient of variation, defined as σ
            / μ).</p>
        </mat-card-content>
        <table mat-table [dataSource]="tableData" style="width: 100%">
          <ng-container matColumnDef="range">
            <th mat-header-cell *matHeaderCellDef>Range</th>
            <td mat-cell *matCellDef="let row"> {{row.range}} </td>
          </ng-container>
          <ng-container matColumnDef="dmg-mean">
            <th mat-header-cell *matHeaderCellDef>μ</th>
            <td mat-cell *matCellDef="let row">{{ row.damageMean | number }}</td>
          </ng-container>
          <ng-container matColumnDef="dmg-dev">
            <th mat-header-cell *matHeaderCellDef>σ</th>
            <td mat-cell *matCellDef="let row">{{ row.damageDeviation | number }}</td>
          </ng-container>
          <ng-container matColumnDef="dmg-cv">
            <th mat-header-cell *matHeaderCellDef>CV</th>
            <td mat-cell *matCellDef="let row">{{ row.damageCV | number:'1.0-1' }}%</td>
          </ng-container>
          <ng-container matColumnDef="acc-mean">
            <th mat-header-cell *matHeaderCellDef>μ</th>
            <td mat-cell *matCellDef="let row">{{ row.accuraciesMean | number }}</td>
          </ng-container>
          <ng-container matColumnDef="acc-dev">
            <th mat-header-cell *matHeaderCellDef>σ</th>
            <td mat-cell *matCellDef="let row">{{ row.accuraciesDeviation | number }}</td>
          </ng-container>
          <ng-container matColumnDef="acc-cv">
            <th mat-header-cell *matHeaderCellDef>CV</th>
            <td mat-cell *matCellDef="let row">{{ row.accuraciesCV | number:'1.0-1' }}%</td>
          </ng-container>
          <ng-container matColumnDef="crit-mean">
            <th mat-header-cell *matHeaderCellDef>μ</th>
            <td mat-cell *matCellDef="let row">{{ row.criticalsMean | number }}</td>
          </ng-container>
          <ng-container matColumnDef="crit-dev">
            <th mat-header-cell *matHeaderCellDef>σ</th>
            <td mat-cell *matCellDef="let row">{{ row.criticalsDeviation | number }}</td>
          </ng-container>
          <ng-container matColumnDef="crit-cv">
            <th mat-header-cell *matHeaderCellDef>CV</th>
            <td mat-cell *matCellDef="let row">{{ row.criticalsCV | number:'1.0-1' }}%</td>
          </ng-container>
          <ng-container matColumnDef="hr-skip">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="1" class="header-grouping"></th>
          </ng-container>
          <ng-container matColumnDef="hr-damage">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="3" class="header-grouping">
              Damage
            </th>
          </ng-container>
          <ng-container matColumnDef="hr-accuracies">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="3" class="header-grouping">
              Accuracies
            </th>
          </ng-container>
          <ng-container matColumnDef="hr-criticals">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="3" class="header-grouping">
              Criticals
            </th>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['hr-skip','hr-damage','hr-accuracies','hr-criticals']"></tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let tableData; columns: displayedColumns"></tr>
        </table>
      </mat-card>
      <flagship-fishing-calculator [longRange]="this.calculator.longRangePool"
        [mediumRange]="this.calculator.mediumRangePool" [closeRange]="this.calculator.closeRangePool">
      </flagship-fishing-calculator>
      <flagship-methodology [modifications]="this.modifications">
      </flagship-methodology>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
