<form>
    <p>
        Use the form below to declare this turn's battles. When finished, click 'Go to Battle Phase' to
        confirm the battles and move to the next phase.
    </p>
    <div *ngFor="let battle of battles; let even = even; let index = index;">
        <h4 class="no-margin">Battle #{{ index + 1 }}</h4>
        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px" fxLayoutAlign="start center">
            <mat-form-field fxFlex>
                <mat-label>Attacking {{ even ? initiativeTeamLabel : nonInitiativeTeamLabel }} Player</mat-label>
                <mat-select [(ngModel)]="battle.attackingPlayer" name="{{ 'attacker-' + index }}"
                    (selectionChange)="formChanged()" required>
                    <mat-option *ngIf="battle.attackingPlayer"></mat-option>
                    <mat-option
                        *ngFor="let player of (even ? availableInitiativePlayers : availableNonInitiativePlayers)"
                        [value]="player">
                        {{ player.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>Defending {{ even ? nonInitiativeTeamLabel : initiativeTeamLabel }} Player</mat-label>
                <mat-select [(ngModel)]="battle.defendingPlayer" name="{{ 'defender-' + index }}"
                    (selectionChange)="formChanged()" required>
                    <mat-option *ngIf="battle.defendingPlayer"></mat-option>
                    <mat-option
                        *ngFor="let player of (even ? availableNonInitiativePlayers : availableInitiativePlayers)"
                        [value]="player">
                        {{ player.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>Battle Location</mat-label>
                <mat-select [(ngModel)]="battle.location" name="{{ 'location-' + index"
                    (selectionChange)="formChanged()" required>
                    <mat-option *ngIf="battle.location"></mat-option>
                    <mat-option *ngFor="let location of (even ? availableInitiativeLocations : availableNonInitiativeLocations)" 
                        [value]="location">
                        {{ location.name }} ({{ location.controlLabel() }})
                    </mat-option>
            </mat-select>
        </mat-form-field>
       </div>
    </div>
    <flagship-issues-list [issues]="issues"></flagship-issues-list>
</form>