name: Build and Deploy Development
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Install Dependencies
        run: |
          cd ./flagship
          npm install
      - name: Build
        run: |
          cd ./flagship
          npm run build-dev
      - name: Archive Dev Artifact
        uses: actions/upload-artifact@master
        with:
          name: dist
          path: flagship/dist/flagship-dev
  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Download Artifact
        uses: actions/download-artifact@master
        with:
          name: dist
      - name: Deploy to Firebase Hosting
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting:dev-cicd --project development
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
